*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}
header{
    position:fixed;
    top:0;
    width:100%;
    background:white;
    z-index:999;
    /* border: 1px solid red; */
}

.topbar{
    width: 100%;
    height: 29px;
    display: flex;
    background-color: #1A73E8;
}
.topbar .container{
    width: 1280px;
    height: 16px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 12px;
}
.topbar img{
    width: 11px;
    height: 11px;
}
.address span{
    padding-left: 5px;
}
.roket span{
    padding-left: 10px;
}
.searchBar{
    width: 100%;
    height: 64px;
    display: flex;
}
.searchBar .container{
    width: 1280px;
    height: 64px ;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.bar1 {
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.bar1 span{
    padding-top: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #1A73E8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.bar1-1{
    color: #111827;
    font-size: 16px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4px;
}
.bar2{
    margin-left: 16px;
    color: #F3F4F6;
    border-radius: 12px;
    border: 1px solid #0000001A;
    width: 576px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.bar2 input{
    margin-top: 10px;
    margin-left: 17px;
    width: 526px;
    height: 17px;
    font-size: 14px;
    color: #6B7280;
    border: none;
    display: flex;
    text-align: start;
}
.bar2 span{
    background-color: #1A73E8;
    width: 48px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}
.bar2 img{
    width: 16px;
    height: 16px;
}

.bar3{
    margin-left: 16px;
    align-items: center;
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
.bar3 img{
    width: 20px;
    height: 20px;
}
.navbar{
    width: 100%;
    height: 41px;
}
.navbar .container{
    width: 1280px;
    height: 40px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 4px;
}
.nav{
    padding-left: 16px;
    display: flex;
    align-items: center;
    width: 171px;
    height: 40px;
    font-size: 14px;
    color: #111827;
}
.grey{
    display: flex;
    gap: 24px;
    color: #6B7280;
    font-size: 14px;
}
.api{
    display: flex;
    margin-left: 24px;
    color: #DC2626;
    font-size: 14px;
}
.cart{
    width: 1280px;
    height: 1260.75px;
    /* border: 1px solid red; */
    margin: 140px auto;
}
.beranda{
    height: 20px;
    color: #6B7280;
    font-size: 14px;
    padding-left:16px;
    padding-top: 16px;
    align-items: center;
    display: flex;
    gap: 4px;
}
.beranda img{
    width: 14px;
    height: 14px;
}
.alproduct{
    padding-left: 16px;
    padding-top: 24px;
    font-size: 24px ;
    font-weight: 500;
    color: #111827;
    /* border: 1px solid red; */
}
.allcart{
    padding-left: 16px;
    padding-top: 24px;
    width: 1280px;
    /* border: 1px solid red; */
    height: 1214.75px;
    display: flex;
    /* flex-direction: column; */
}
.allprice{
    width: 256px;
    height: 581px;
    /* border: 1px solid red; */
}
.price{
    display: flex;
    flex-direction: column;
    height: 80.5px;
    /* border: 1px solid red; */
    color: #111827;
}
.price span{
    font-size: 18px;
    /* color: #111827; */
    font-weight: 500;     
}
.price1 {
    color: #6B7280;
    padding-top: 37.5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.merek{
    padding-top: 24px;
    color: #111827;
    font-weight: 500;
    font-size: 18px;
}
.listinput{
    padding-top: 12px;
    color: #6B7280;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
}
.rate{
    padding-top: 24px;
    width: 256px;
    height: 115px;
    flex-direction: column;
    display: flex;
    gap: 12;
}
.ratemin{
    font-size: 18px;
    color: #111827;
    font-weight: 500;
    padding-bottom: 12px;
}
.star{
    color: #6B7280;
    font-size: 14px;
}
.star input{
    border-radius: 16666666px;
    border: 1px solid #767676;
    -webkit-border-radius: 16666666px;
    -moz-border-radius: 16666666px;
    -ms-border-radius: 16666666px;
    -o-border-radius: 16666666px;
}
.ketersedian{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.stok span{
    color: #6B7280;
    font-size: 14px;
    font-weight: 500px;
}
.cart18{
    width: 968px;
    height: 1214.75px;
    /* border: 1px solid red; */

}
.produk18{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    align-items: center;
}
.urutkan{
    display: flex;
    gap: 8px;
    text-align: center;
    align-items: center;
}
.paling{
    display: flex;
    width: 156px;
    background-color: #FFFFFF;
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #0000001A;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.produk-12{
    height: 1079px;
    /* border: 1px solid red; */
    margin-top: 16px;
}
.isi-produk{
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    
}
.isi-produk .pro{
    width: 230px;
    height: 350px;
    /* border: 1px solid red; */
    background-color: #F3F4F6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.pro img{
    width: 228px;
    height: 228px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ket-produk{
    gap: 4px;
    width:228px;
    height: 120px;
    display: flex;
    padding: 12px;
    flex-direction: column;
}
.gramedia{
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
}
.merk{
    color: #111827;
    font-size: 14px;
    font-weight: 500;
}
.ratee{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
}
.ratee img{
    width: 12px;
    height: 12px;
}
.list-harga{
    color: #1A73E8;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
}
.list-harga1{
    color: #6B7280;
    text-decoration:line-through ;
    font-size: 12px;
    font-weight: 400;
}
.muat{
    /* border: 1px solid red; */
    height: 66px;
    margin-top: 16px;
    padding-top: 16px;   
    display: flex;
    justify-content: center;
}
.isi-muat{
    background-color: #FFFFFF;
    border: 1px solid #1A73E8;
    width: 328px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.isi-muat span{
    color: #1A73E8;
    font-size: 16px;
    font-weight: 500;
}
.footer-full{
    width: 100%;
    height: 492px;
    border: 1px solid red;
    background-color: #111827;
    margin: auto;
}