*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

/* Header */
header{
    position:fixed;
    top:0;
    width:100%;
    background:white;
    z-index:999;
    /* border: 1px solid red; */
}

.topbar{
    width: 100%;
    height: 29px;
    display: flex;
    background-color: #1A73E8;
}
.topbar .container{
    width: 1280px;
    height: 16px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 12px;
}
.topbar img{
    width: 11px;
    height: 11px;
}
.address span{
    padding-left: 5px;
}
.roket span{
    padding-left: 10px;
}
.searchBar{
    width: 100%;
    height: 64px;
    display: flex;
}
.searchBar .container{
    width: 1280px;
    height: 64px ;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.bar1 {
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.bar1 span{
    padding-top: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #1A73E8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.bar1-1{
    color: #111827;
    font-size: 16px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 4px;
}

.bar2{
    margin-left: 16px;
    color: #F3F4F6;
    border-radius: 12px;
    border: 1px solid #0000001A;
    width: 576px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.bar2 input{
    margin-top: 10px;
    margin-left: 17px;
    width: 526px;
    height: 17px;
    font-size: 14px;
    color: #6B7280;
    border: none;
    display: flex;
    text-align: start;
}
.bar2 span{
    background-color: #1A73E8;
    width: 48px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}
.bar2 img{
    width: 16px;
    height: 16px;
}

.bar3{
    margin-left: 16px;
    align-items: center;
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}
.bar3 img{
    width: 20px;
    height: 20px;
}
.navbar{
    width: 100%;
    height: 41px;
}
.navbar .container{
    width: 1280px;
    height: 40px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 4px;
}
.nav{
    padding-left: 16px;
    display: flex;
    align-items: center;
    width: 171px;
    height: 40px;
    font-size: 14px;
    color: #111827;
}
.grey{
    display: flex;
    gap: 24px;
    color: #6B7280;
    font-size: 14px;
}
.api{
    display: flex;
    margin-left: 24px;
    color: #DC2626;
    font-size: 14px;
}
.cart{
    width: 1280px;
    height: 1260.75px;
    /* border: 1px solid red; */
    margin: 140px auto;
}

/* Header End */

/* Main */
.beranda{
    height: 20px;
    color: #6B7280;
    font-size: 14px;
    padding-left:16px;
    padding-top: 16px;
    align-items: center;
    display: flex;
    gap: 4px;
}
.beranda img{
    width: 14px;
    height: 14px;
}
.alproduct{
    padding-left: 16px;
    padding-top: 24px;
    font-size: 24px ;
    font-weight: 500;
    color: #111827;
    /* border: 1px solid red; */
}
.allcart{
    padding-left: 16px;
    padding-top: 24px;
    width: 1280px;
    /* border: 1px solid red; */
    height: 1214.75px;
    display: flex;
    /* flex-direction: column; */
}
.allprice{
    width: 256px;
    height: 581px;
    /* border: 1px solid red; */
}
.price{
    display: flex;
    flex-direction: column;
    height: 80.5px;
    /* border: 1px solid red; */
    color: #111827;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;

}
.price1 span{
    color: #6B7280;
    padding-top: 37.5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}
.merek{
    padding-top: 24px;
    color: #111827;
    font-weight: 500;
    font-size: 18px;
}
.listinput{
    padding-top: 12px;
    color: #6B7280;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
}
.rate{
    padding-top: 24px;
    width: 256px;
    height: 115px;
    flex-direction: column;
    display: flex;
    gap: 12;
}
.ratemin{
    font-size: 18px;
    color: #111827;
    font-weight: 500;
    padding-bottom: 12px;
}
.star{
    color: #6B7280;
    font-size: 14px;
}
.star input{
    border-radius: 16666666px;
    border: 1px solid #767676;
    -webkit-border-radius: 16666666px;
    -moz-border-radius: 16666666px;
    -ms-border-radius: 16666666px;
    -o-border-radius: 16666666px;
}
.ketersedian{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.stok span{
    color: #6B7280;
    font-size: 14px;
    font-weight: 500px;
}
.cart18{
    width: 968px;
    height: 1214.75px;
}
.produk18{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    align-items: center;
}
.urutkan{
    display: flex;
    gap: 8px;
    text-align: center;
    align-items: center;
}
.paling{
    display: flex;
    width: 156px;
    background-color: #FFFFFF;
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #0000001A;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.produk-12{
    height: 1079px;
    margin-top: 16px;
}
.isi-produk{
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    
}
.isi-produk .pro{
    width: 230px;
    height: 350px;
    background-color: #F3F4F6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.pro img{
    width: 228px;
    height: 228px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ket-produk{
    gap: 4px;
    width:228px;
    height: 120px;
    display: flex;
    padding: 12px;
    flex-direction: column;
}
.gramedia{
    color: #6B7280;
    font-size: 13px;
    font-weight: 400;
}
.merk{
    color: #111827;
    font-size: 14px;
    font-weight: 500;
}
.ratee{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
}
.ratee img{
    width: 12px;
    height: 12px;
}
.list-harga{
    color: #1A73E8;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
}
.list-harga1{
    color: #6B7280;
    text-decoration:line-through ;
    font-size: 12px;
    font-weight: 400;
}
.muat{
    height: 66px;
    margin-top: 16px;
    padding-top: 16px;   
    display: flex;
    justify-content: center;
}
.isi-muat{
    background-color: #FFFFFF;
    border: 1px solid #1A73E8;
    width: 328px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.isi-muat span{
    color: #1A73E8;
    font-size: 16px;
    font-weight: 500;
}

/* Main End */

/* Footer Start */
.footer-full{
    width: 100%;
    height: 492px;
    background-color: #111827;
    margin: -70px auto;
}
.footer-full .container{
    width: 1280px;
    height: 492px;
    margin: auto;
}
.footer1 {
    height: 105px;
    border-bottom: 1px solid #364153;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}


.truk{
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: flex;
    padding-left: 16px;
    width: 294px;
    height: 40px;
}

.truk1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #1A73E833;
    border-radius: 16777200px;
    -webkit-border-radius: 16777200px;
    -moz-border-radius: 16777200px;
    -ms-border-radius: 16777200px;
    -o-border-radius: 16777200px;
}
.truk1 img{
    width: 18px;
    height: 18px;
}
.truk2{
    width: 168px;
    height: 36px;
}
.truk2-1{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}
.truk2 span{
    color: #99A1AF;
    font-size: 12px;
    font-weight: 400;
}

.footer2 {
    height: 338px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding-left: 24px;
    gap: 20px;
}

.footer2-1{
    width: 288px;
    height: 242px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer2-1 img{
    width: 15px;
    height: 15px;
}

.ter11 {
    width: 288px;
    height: 32px;
    display: flex;
    align-items: center;
}
.ter11 span{
    padding-top: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #1A73E8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ter1-2{
    display: flex;
    padding-left: 8px;
    color: #FFFFFF;
    font-size: 18px;
}
.ter1-3{
    width: 288px;
    height: 69px;
    font-size: 14px;
    color: #99A1AF;
    padding-top: 15.3px;
}
.ter1-4{
    display: flex;
    padding-top: 15.3px;
    gap: 12px;
}
.ter1-4 div{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #364153;
    border-radius: 16777200px;
    -webkit-border-radius: 16777200px;
    -moz-border-radius: 16777200px;
    -ms-border-radius: 16777200px;
    -o-border-radius: 16777200px;
}
.ter1-4 img{
    width: 14px;
    height: 14px;
}
.ter2-2{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
}
.footer2-1 span{
    color: #99A1AF;
    font-size: 14px;
    font-weight: 400;
    display: flex;
}
.ter2-3{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ter2-3 img{
    width: 15px;
    height: 15px;
}
.ter2-4{
    display: flex;
    justify-content: center;
}
.ter2-5{
    display: flex;
    justify-content: start;
}
.ter2-6{
    display: flex;
    justify-content: start;
}
.ter3-1{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 82px;
    background-color: #1E2939;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ter3-2{
    color: #FFFFFF;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 12px;
}
.ter3-3{
    display: flex;
    padding-top: 8px;
    padding-left: 12px;
    gap: 12px;
}
.email{
    padding-left: 12px;
    justify-content: start;
    color: #FFFFFF80;
    display: flex;
    align-items: center;
    width: 168px;
    height: 34px;
    background-color: #364153;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.email input{
    border: none;
    background-color:#364153;
    width: 142px;
    height: 15px;
    color: #FFFFFF80;
    font-size: 12px;
}
.langganan{
    align-items: center;
    width: 88px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #1A73E8;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.footer3{
    color: #6A7282;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 48px;
    border-top: 1px solid #364153;
}
.footer3 span{
    padding-left: 24px;
}

/* Footer End */

/* Page 3 */
.cart1{
    width: 1280px;
    height: 1476.25px;
    border: 1px solid red;
    margin: 140px auto;
}

.head{
    color: #111827;
}
.cart-produk{
    width: 1248px;
    height: 684px;
    /* border: 1px solid red; */
    margin-top: 40px;
    margin-left: 16px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;    
}
.cart-produk-1{
    width: 604px;
}
.cart-produk-1 img{
    width: 604px;
    height: 604px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.ket-img{
    display: flex;
    align-items: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.ket-img img{
    width: 60px;
    height: 60px;
    border: 2px solid #1A73E8;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.earphoneabu img{
    display: flex;
    align-items: center;
    margin-left: 8px;
    border:2px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.ket-produk1{
    width: 604px;
    height: 82px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.merk1{
    font-weight: 700;
    font-size: 24px;
    color: #111827;
}
.gabungan{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
}
.green{
    color: #00A63E;
    font-size: 12px;
}

.hargabesar{
    padding-left: 16px;
    display: flex;
    margin-top: 20px;
    height: 98px;
}

.list-hargabe{
    color: #1A73E8;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    gap: 12px;
    align-items: center;
}
.list-hargasar{
    color: #6B7280;
    text-decoration:line-through ;
    font-size: 18px;
    font-weight: 400;
}
.diskonharga{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91px;
    height: 24px;
    border-radius: 16777200px;
    background-color: #DC2626;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-border-radius: 16777200px;
    -moz-border-radius: 16777200px;
    -ms-border-radius: 16777200px;
    -o-border-radius: 16777200px;
}
.warna{
    width: 604px;
    height: 62px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.warn{
    font-size: 14px;
}
.warn span{
    color: #1A73E8;
}
.hitam{
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #EFF6FF;
    font-size: 14px;
    width: 66px;
    border: 1px solid #1A73E8;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
}
.gabwarna {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}
.gabwarna span{
    color: #1A73E8;
}
.putih{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #EFF6FF;
    font-size: 14px;
    width: 66px;
    border: 1px solid #0000001A;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
}
.putih span{
    font-size: 14px;
    color: #6B7280;
    font-weight: 500;
}
.jmlh{
    height: 38px;
    margin-top: 8px;
    display: flex;
    gap: 12px;
}
.jmlh span{
    display: flex;
}
.stokk{
    height: 66px;
    margin-top: 20px;
}
.qty{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    height: 38px;
    width: 146px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.pcs{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.addcart{
    margin-top: 20px;
    display: flex;
    height: 56px;
    gap:12px;
}
.trolioren{
    gap: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    width: 268px;
    height: 56px;
    border: 2px solid #F97316;
    color:#F97316;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.trolioren img{
    width: 18px;
    height: 18px;    
}
.belinow{
    color: #FFFFFF;
   gap: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    width: 268px;
    height: 56px;
    background-color: #F97316;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}
.luv{
    border: 1px solid #0000001A;
    width:48px;
    height: 56px;
    justify-content:center ;
    display: flex;
    align-items: center;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.feat{
    margin-top: 20px;
    width: 604px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.luv img{
    width: 20px;
    height: 20px;
}
.feat-ongkir{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: #E5E7EB80;
    width: 193.33px;
    height: 72px;
}
.feat-ongkir span{
    color: #6B7280;
    font-size: 12px;
}
.foon{
    font-size: 12px;
    color: #111827;
}
.desc{
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    margin: 41px auto;
    width: 1248px;
    height: 131px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.desc-list{
    display: flex;
    gap: 30px;
    font-size: 14px;
    padding-left: 64px;
    border-bottom: 1px solid #0000001A;
}
.desc-list div{
    display: flex;
    align-items: center;
    color: #6B7280;

}
.desc div{
    display: flex;
    height: 54px;
}
.desc-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    text-align: center;
    /* border: 1px solid red; */
    width: 1198px;
    height: 26px;
    font-size: 16px;
    color: #6B7280;
}
.biru{
    border-bottom: 2px solid #1A73E8;
    width: 111px;
    height: 54px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.biru span{
    
    color: #1A73E8;
}
.cart-terkait{
    width: 1248px;
    height: 473.25px;
    /* display: flex; */
    gap: 24px;
    margin: auto;
}
.terkait{
    margin-bottom: 16px;
    width: 1248px;
    height: 30px;
}
.cart-terkait1{
    width: 1248px;
    height:419px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}
.cart111{
    width: 300px;
    height: 420px;
}
.cart111 img{
    width: 298px;
    height: 298px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.pro111{
    width: 300px;
    height: 420px;
    background-color: #F3F4F6;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.pro111 img{
    width: 298px;
    height: 298px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.rateeee img{
    width: 12px;
    height: 12px;
}

