*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

.container{
    width: auto;
    background-color: white solid;
    height: 134px;
}

.header{
    width: auto;
    background-color: white solid;
    height: 134px;
    position: sticky;
    top: 0%;
    /* border: 1px solid red; */
}

/* Top Bar  */

.topBar{
    background-color: #1A73E8;
    width: 1728px;
    height: 28px;
    margin:auto;
    color: #FFFFFF;
    position: sticky;
    top: 0px;
    z-index: 999;
    /* left: 16px; */
    /* border: 1px solid blue; */
}

.topBar-left{
    display: inline-block;
    width: 156px;
    height: 16px;
    position: absolute;
    font-size: 11px;
    left:228px;
    bottom: 6px;
}

.topBar-left img{
    width: 18px;
    height: 11px;
    position: relative;
    bottom: -1px;
}

.topBar-right{
    display: inline-block;
    width: 410px;
    height: 16px;
    position: absolute;
    font-size: 12px;
    right: 228px;
    bottom: 7px;
}
.topBar-right span{
    padding-left: 16px;
}

/* Top Bar End */

/* Navbar 1 */
.navbar1{
    /* border: 1px solid blue; */
    height: 65px;
    margin: auto;
    width: 1280px;
    position: sticky;
    top: 28px;
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-left{
    position: relative;
    display: inline-block;
    /* background-color: green; */
    width: 120px;
    height: 32px;
    font-size: 14px;
    /* padding-top: 10px; */
    
}
.b{
    /*align-items: center;
    */position: absolute;
    background-color: #1A73E8;
    width: 32px;
    height: 32px;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
}

.b span{
    align-items: center;
    height: 10px;
    width: 20px;
    padding-top: 8px;
    padding-left: 11px;
    position: absolute;
    color: #FFFFFF;
}

.c{
    font-size: 16px;
    padding-left: 40px;
    padding-top: 6px;
    color: #111827;
}

.navbar-mid {
    display: inline-block;
    background-color: #f3f4f6;
    width: 526px;
    height: 42px;
    border: 1px solid #0000001A ;
    color:#6b7280 ;
    padding-top: 9.5px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 11.5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.cate input{
    color: #6b7280;
    border: 1px solid #f3f4f6;
    width: 494px;
    height: 20px;
    background-color: #f3f4f6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.d{
    right: 613px;
    top: 14px;
    position: absolute;
    align-items: center;
    display: inline-block;
    background-color: #1A73E8;
    width: 48px;
    height: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}
.navbar-right{
    display: inline-block;
    width: 210px;
    height: 40px;
    position: relative;
    padding: 13px;
}

.icon1{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 5px;
}

.icon2{
    position: absolute;
    display: inline-block;
    width:78px;
    height: 40px;
    padding: 10px;
    left: 65px;
}

.ic{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.on{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 20px;
    left:45px;
    padding: 0px;
    margin-top: 0px;
}
.icon3{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 175px;
}
.icon4{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 235px;
}

/* Navbar 1 End */

/* Navbar 2 */

.navbar2{
    /* position:sticky; */
    /* top: 92px;/ */
    height: 41px;
    width: 1280px;
    margin: auto;
    font-size: 14px;
    color: #6B7280;
    padding-left: 16px;
    border-top: 1px solid #0000001A ;
    /* border: 1px solid blue; */


}

.icon-nav1{
    display: inline-block;
    width: 171px;
    height: 40px;
    bottom: 2px;
    position: relative;
    padding: 10px;
    color: #111827;
}

.icon-nav1 img{
    width: 14px;
    height: 14px;
    top: 2px;
    position: relative;
}

.icon-nav2{
    display: inline-block;
    width: 117px;
    height: 40px;
    padding: 10px;
}
.icon-nav3{
    display: inline-block;
    width: 104px;
    height: 40px;
    padding: 10px;
}
.icon-nav4{
    display: inline-block;
    width: 155px ;
    height: 40px;
    padding: 10px;
}
.icon-nav5{
    display: inline-block;
    width: 125px;
    height:40px ;
    padding: 10px;
}
.icon-nav6{
    display: inline-block;
    width: 112px;
    height: 40px;
    padding: 10px;
}
.icon-nav7{
    display: inline-block;
    width: 162px;
    height: 40px;
    padding: 10px;
}
.icon-nav8{
    display: inline-block;
    width: 93px ;
    height: 40px ;
    padding: 10px;
    color: #DC2626;
}

/* Navbar 2 End */

/* Section  */
.section{
    border: 2px solid green;
    height: 420px;
    margin: auto;
    width: 1728px;
    position: relative;
    background-image: linear-gradient(#8200DB , #4F39F6);
    /* font-size: 0px; */
    /* display: inline-block; */
}
.s-l{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 190px;
    bottom: 190px;
    left: 16px;
    background-color: #FFFFFF33;
    border-radius:16777200px ;
    -webkit-border-radius:16777200px ;
    -moz-border-radius:16777200px ;
    -ms-border-radius:16777200px ;
    -o-border-radius:16777200px ;
}
.s-l img{
    position: absolute;
    top:10px;
    left: 8px;
}
.s-r {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 190px;
    bottom: 190px;
    right: 16px;
    background-color: #FFFFFF33;
    border-radius:16777200px ;
    -webkit-border-radius:16777200px ;
    -moz-border-radius:16777200px ;
    -ms-border-radius:16777200px ;
    -o-border-radius:16777200px ;
}
.s-r img{
    position: absolute;
    top:10px;
    right: 8px;
}
.s-mid{
    position: absolute;
    left: 838px;
    bottom: 16px;
}
.s-mid1{
    display: inline-block;
    width:8px;
    height: 8px;
    background-color: #FFFFFF80;
    border-radius: 16777200px;
    -webkit-border-radius: 16777200px;
    -moz-border-radius: 16777200px;
    -ms-border-radius: 16777200px;
    -o-border-radius: 16777200px;
}
.s-mid2{
    display: inline-block;
    width: 24px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 16777200px;
    -webkit-border-radius: 16777200px;
    -moz-border-radius: 16777200px;
    -ms-border-radius: 16777200px;
    -o-border-radius: 16777200px;
}
.s-mid3{
    display: inline-block;
    width:8px;
    height: 8px;
    background-color: #FFFFFF80;
    border-radius: 16777200px;
    -webkit-border-radius: 16777200px;
    -moz-border-radius: 16777200px;
    -ms-border-radius: 16777200px;
    -o-border-radius: 16777200px;
}


.content-left{
    position: absolute;
    height: 420px;
    width: 640px;
    left: 223px;
      background-image: linear-gradient(#8200DB , #4F39F6);
}
.ct-left{
    position: relative;
    width: 864px;
    height: 420px;
    color: #FFFFFF;
    left: 16px;
    top: 90.5px;
    bottom:90.5px ;
}
.ct-l{
    width: 512px;
    height: 239px;
}
.left-1{
    width: 512px;
    height: 100px;
    font-size: 40px;
    font-style: bold;
    font-weight: 700;
    margin-bottom: 16px;
}
.left-2{
    width: 512px;
    height: 59px;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 16px;
}
.left-3{
    font-weight: 400px;
    font-size: 16px;
    text-align: center;
    padding-top: 14px ;
    left: 5px;
    color: #1A73E8;
    width: 163px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.left-3 img{
    position: relative;
    width:16px;
    height: 16px;
    left: 3px;
    top: 2px;
}

.content-right {
    position: absolute;
    height: 420px;
    width: 640px;
    right: 223px;
}


.content-right img{
    width: 864px;
    height: 420px;
    /* opacity: 30%; */
    background-image: linear-gradient(#8200DB , #4F39F6);
}

/* Section End */

/* Main */

.main{
    height: 3903px;
    border: 1px solid black;
    width: 1280px;
    margin: auto;
}

/* Kategori */

.main-real{
    position: absolute;
    margin-top: 48px;
    height: 192px;
    /* border: 1px solid red; */
    width: 1280px;
}

.main-first{
    position: absolute;
    /* border: 1px solid red; */
    width: 1248px;
    left: 16px;
    height: 30px;
    /* border: 1px solid red; */
    /* margin-left:16px ;
    margin-right: 16px; */
}
.main-first1{
    /* border: 1px solid red; */
    position: absolute; 
    display: inline-block;
    width: 282px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #111827;
    /* left: 16px; */
}
.main-first2{
    /* border: 1px solid red; */
    position: absolute;
    /* display: inline-block; */
    right: 0px;
    width: 100px;
    top:5px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #1A73E8;
}
.main-firs2{
    /* border: 1px solid red; */
    position: absolute;
    /* display: inline-block; */
    right: -882px;
    width: 110px;
    top:5px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #1A73E8;
}
.main-first2 img{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    right: 0px;
}
.main-second{
    width: 1248px;
    height: 138px;
    position: relative;
    top: 54px;
    left:16px;
    /* border: 1px solid red; */
}
.main-second1{
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 198px;
    height: 138px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.main-second2{
    position: absolute;
    left: 210px;
    display: inline-block;
    width: 198px;
    height: 138px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.main-second3{
    position: absolute;
    left: 420px;
    display: inline-block;
    width: 198px;
    height: 138px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.main-second4{
    position: absolute;
    left: 630px;
    display: inline-block;
    width: 198px;
    height: 138px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.main-second5{
    position: absolute;
    right: 210px;
    display: inline-block;
    width: 198px;
    height: 138px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.main-second6{
    position: absolute;
    right: 0px;
    display: inline-block;
    width: 198px;
    height: 138px;
    border: 1px solid #0000001A;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;    
}
.nik{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
    left: 70px;
    bottom: 64px;

        
}
.nik img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.nik1{
    width: 56px;
    height: 16px;
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 70px;
    font-size: 12px;
    font-weight: 400;
}
.nik2{
    width: 50px;
    height: 16px;
    position: absolute;
    top: 104px;
    bottom: 16px;
    left: 73px;
    right: 73px;
    font-size: 11px;
    font-weight: 400px;
    color: #6B7280;
}
.fashion{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
    left: 70px;
    bottom: 64px;

        
}
.fashion img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.fas1{
    width: 45px;
    height: 16px;
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 75.5px;
    font-size: 12px;
    font-weight: 400;
}
.fas2{
    width: 50px;
    height: 16px;
    position: absolute;
    top: 104px;
    bottom: 16px;
    left: 72.5px;
    right: 72.5px;
    font-size: 11px;
    font-weight: 400px;
    color: #6B7280;
}
.home{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
    left: 70px;
    bottom: 64px;        
}
.home img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.hom1{
    width: 88px;
    height: 16px;
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 54px;
    font-size: 12px;
    font-weight: 400;
}
.hom2{
    width: 88px;
    height: 16px;
    position: absolute;
    top: 104px;
    bottom: 16px;
    left: 72.5px;
    right: 72.5px;
    font-size: 11px;
    font-weight: 400px;
    color: #6B7280;
}
.kecantikan{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
    left: 70px;
    bottom: 64px;        
}
.kecantikan img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cantik1{
    width: 56px;
    height: 16px;
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 70px;
    font-size: 12px;
    font-weight: 400;
}
.cantik2{
    width: 50px;
    height: 16px;
    position: absolute;
    top: 104px;
    bottom: 16px;
    left: 73px;
    right: 73px;
    font-size: 11px;
    font-weight: 400px;
    color: #6B7280;
}
.olahraga{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
    left: 70px;
    bottom: 64px;

        
}
.olahraga img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.raga1{
    width: 52px;
    height: 16px;
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 72px;
    font-size: 12px;
    font-weight: 400;
}
.raga2{
    width: 51px;
    height: 16px;
    position: absolute;
    top: 104px;
    bottom: 16px;
    left: 72.5px;
    right: 72.5px;
    font-size: 11px;
    font-weight: 400px;
    color: #6B7280;
}
.book{
    position: absolute;
    top: 16px;
    width: 56px;
    height: 56px;
    left: 70px;
    bottom: 64px;        
}
.book img{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.book1{
    width: 104px;
    height: 16px;
    position: absolute;
    top: 80px;
    bottom: 40px;
    left: 51px;
    font-size: 12px;
    font-weight: 400;
}
.book2{
    width: 51px;
    height: 16px;
    position: absolute;
    top: 104px;
    bottom: 16px;
    left: 72.5px;
    right: 72.5px;
    font-size: 11px;
    font-weight: 400px;
    color: #6B7280;
}
/* Kategori End */

/* Main Flash Deal */

.main-flash{
    position: absolute;
    top: 842px;
    width: 1280px;
    height: 475px;
}

.mainflash-copy{
    position: absolute;
    top: 0px;
    width: 1280px;
    height: 475px;
}
.mainflash-copy1{
    position: absolute;
    top: 435px;
    width: 1280px;
    height: 475px;
}

.flash-deal{
    position: absolute;
    display: inline-block;
    width: 1248px;
    height: 32px;
    left: 16px;
}

.flash{
    position: absolute;
    top: 0px;
    width: 366.99px;
    height: 32px;
    /* border: 1px solid red; */
}
.flash-red{
    position: absolute;
    top:-2px;
    width: 117px;
    height: 32px;
    background-color: #DC2626;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.flash-red span{
    position: absolute;
    top: 6px;
    left: 36px;
    right: 12px;
    width: 69px;
    height: 20px;
    font-size: 14px;
    color: #FFFFFF;
}
.flash-red img{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 8px;
    bottom: 8px;
    left: 12px;
    right: 89px;
}

.flash-jam{
    position: absolute;
    top: 2px;
    bottom: 4px;
    left: 129px;
    right: 0px;
    width: 237.99px;
    height: 24px;
    /* border: 1px solid red; */

}
.flash-jam img{
    position: absolute;
    width: 14px;
    height: 14px;
    top: 5px;
    bottom: 5px;
    left: 0px;

}
.flash-jam span{
    font-size: 14px;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 4px;
    bottom:2px;
    left: 20px;
}
.cart-flash{
    position: absolute;
    width: 1248px;
    height: 419.25px;
    /* border: 1px solid red; */
    bottom: 0px;
    left: 16px;
}

.cart-flash1{
    position: absolute;
    width: 300px;
    height: 420px;
    left: 0px;
    background-color: #F3F4F6;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cart-flash2{
    position: absolute;
    width: 300px;
    /* border: 1px solid red; */
    height: 420px;
    left: 316px;
    background-color: #F3F4F6;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}
.cart-flash3{
    position: absolute;
    width: 300px;
    background-color: #F3F4F6;
    height: 420px;
    right: 316px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;

}
.cart-flash4{
    position: absolute;
    width: 300px;
    height: 420px;
    right: 0px;
    background-color: #F3F4F6;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cart-flash1 img{
    width: 298px;
    height: 298px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cart-flash2 img{
    width: 298px;
    height: 298px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cart-flash3 img{
    width: 298px;
    height: 298px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.cart-flash4 img{
    width: 298px;
    height: 298px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.sound{
    position: absolute;
    font-size: 12px;
    left: 12px;
    bottom: 92px;
    width: 274px;
    height: 16px;
    color: #6B7280;
}
.headphone{
    width: 274px;
    height: 20px;
    position: absolute;
    color: #111827;
    left: 12px;
    bottom: 68px;
    top: 330px;
    font-size: 14px;
}
.flash1-star{
    width: 274px;
    height: 20px;
    position: absolute;
    font-size: 14px;
    color: #6B7280;
    left: 12px;
    bottom: 44px;
}
.k-star{
    display: inline;
    width: 80px;
    height: 12px;
    top: 0px;
    bottom: 4px;
    left: 0px;
    position: absolute;

}
.k-star img{
    width: 12px;
    height: 12px;
}

.k-price{
    font-size: 14px;
    position: absolute;
    width: 59px;
    height: 20px;
    left: 84px;
    right: 151px;
    top: 0px;
}

.flash-price{
    width: 274px;
    height: 28px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;

}

.pri1{
    position: absolute;
    width: 92px;
    height: 24px;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    color: #1A73E8;
    font-weight: 600;

}
.pri2{
    position: absolute;
    width: 66px;
    height: 16px;
    top: 8px;
    font-size: 11px;
    color: #6B7280;
    text-decoration: line-through;
    left: 108px;
}
.pri3{
    position: absolute;
    width: 107px;
    height: 24px;
    left: 0px;
    bottom: 0px;
    font-size: 16px;
    color: #1A73E8;
    font-weight: 600;
}
.pri4{
    position: absolute;
    width: 77px;
    height: 16px;
    top: 8px;
    font-size: 11px;
    color: #6B7280;
    text-decoration: line-through;
    left: 115px;
}

/* Main Flash Deal End */

/* Section Hero */

.section-hero{
    position: absolute;
    top: 551px;
    left: 16px;
    right: 16px;
    width:1248px;
    height: 176px;
    /* border: 1px solid red; */
}
.hero-diskon{
    position: absolute;
    width: 616px;
    height: 176px;
    /* border: 1px solid red; */
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.fashion-wanita{
    position: absolute;
    top: 45px;
    left: 24px;
    width: 152px;
    height: 86px;
    /* border: 1px solid red; */

}

.hero-diskon img{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.wanita1{
    position: absolute;
    width: 152px;
    height: 20px;
    top: 0px;
}
.wanita1 span{
    position: absolute;
    left: 0px;
    width: 101px;
    height: 20px;
    font-size: 14px;
    color: #FFFFFFCC;
}
.wanita2{
    width: 152px;
    height: 36px;

}
.wanita2 span{
    position: absolute;
    width: 152px;
    height: 28px;
    top: 20px;
    font-size: 20px;
    font-style: Bold;
    font-weight: 700;
    color: #FFFFFF;
}
.wanita3{
    position: absolute;
    top: 56px;
    width: 141px;
    height: 30px;
    border: 1px solid white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.wanita3 span{
    position: relative;
    color: #FFFFFF;
    top: 0px;
    font-size: 12px;
    left: 20px;
}
.hero-baik{
    position: absolute;
    right: 0px;
    width: 616px;
    height: 176px;
    /* border: 1px solid red; */
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

}
.hero-baik img{
    background-image: linear-gradient(#8200DB , #4F39F6);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.elektronik-pilihan{
    position: absolute;
    top: 45px;
    left: 24px;
    width: 137px;
    height: 86px;
    /* border: 1px solid red; */
}
.ele1{
    width: 137px;
    height: 20px;
    color: #FFFFFFCC;
    font-size: 14px;
}
.ele2{
    width: 137px;
    height: 36px;
    color: #FFFFFF;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

}
.ele3{
    width: 110px;
    height: 30px;
    border: 1px solid white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.ele3 span{
    position: relative;
    color: #FFFFFF;
    top: 1px;
    font-size: 12px;
    left: 20px;

}


/* Section Hero End */

/* Section Cart */
.section-cart{
    position: relative;
    width: 1280px;
    height: 908px;
    top: 1035.25px;
    /* border: 1px solid red; */
}
.section-cart1{
    position: relative;
    width: 1280px;
    height: 918px;
    top: 1083.25px;
    /* border: 1px solid red; */
}
.produk-new{
    position: absolute;
    width: 1248px;
    height: 30px;
    /* border: 1px solid red ; */
    left: 16px;
}
.produk-new img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
}

.produk-new span{
    position: absolute;
    width: 148px;
    height: 30px;
    font-size:18px ;
    color: #111827;
    left: 28px;
}
.produk-new19 span{
    position: absolute;
    width: 148px;
    height: 30px;
    font-size:18px ;
    color: #111827;
    left: 28px;
}
.produk-new1{
    position: absolute;
    width: 140px;
    height: 20px;
    right: 0px;
    top: 5px;
    /* border: 1px solid red; */
}
.produk-new1 span{
    color: #1A73E8;
    font-size: 14px;
    top: 0px;
}
.produk-new1 img{
    position: absolute;
    right: 0px;
    top: 1px;
}
/* Section Cart End */

/* Main End */

.footer{
    position: relative;
    height: 492px;
    width :1728px;
    background-color: #111827;
    margin:auto;
    top: 3909px;
}

.first-footer{
    height: 105px;
    border: 1px solid red;
}

.second-footer{
    height:338px ;
    border: 1px solid red;

}


.third-footer{
    height: 49px;
    border:1px solid red;

}

